<!DOCTYPE html>

<html>
    <head>
        <title>Facebook MVC Sample App</title>
    </head>
    <body>
        <h1>Facebook MVC Sample App</h1>
        
        <div class="body-content">
            @RenderBody()
        </div>
    </body>
</html>